[submodule "submodules/GitLabSharp"]
	path = submodules/GitLabSharp
	url = git@github.com:denis-adamchuk/GitLabSharp
[submodule "submodules/mrHelper.Install"]
	path = submodules/mrHelper.Install
	url = git@github.com:denis-adamchuk/mrHelper.Install.git
	branch = master
