body {
   width: 100%;
   margin: 0;
}

body div {
   font-family: Microsoft Sans Serif, Sans Serif;
   padding: 2px;
}

table {
   border: solid 1px #DDEEEE;
   border-collapse: collapse;
   border-spacing: 0;
}

table .no-border {
   border: none;
   border-collapse: initial;
   border-spacing: initial;
}

table thead th {
   background-color: #E4E7E6;
   border: solid 1px #DDEEEE;
   color: #333;
   padding: 5px;
   text-align: left;
   text-shadow: 1px 1px 1px #fff;
}

table tbody td {
   background-color: #FBFBF5;
   border: solid 1px #DDEEEE;
   color: #333;
   padding: 5px;
   text-shadow: 1px 1px 1px #fff;
}

table tbody td .no-border {
   background-color: initial;
   border: none;
}

p {
   margin: 0;
}

ul, ol {
   padding-left: 16px;
   margin-top: 8px;
   margin-bottom: 8px;
   margin-left: 0;
}

.highlight {
    background-color: Highlight;
}

.htmltooltip {
   padding: 1px;
}

.no-border {
   border: none;
}

.no-bg {
  background-color: initial;
}
