body {
   width: 100%;
   margin: 0;
}

table { 
   font-family: Consolas, monospace;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   width: 100%;
   margin: 0;
   line-height: 1;
   border: none;
}

td.linenumbers {
   width: 50px;
   color: rgb(175, 175, 175);
   background-color: rgb(250, 250, 250);
   text-align: center;
   border-right: solid 1px rgb(240, 240, 240);
}

td.unchanged {
   color: rgb(46, 46, 46);
   background-color: white;
}

td.removed {
   color: rgb(46, 46, 46);
   background-color: rgb(251, 233, 235);
}

td.added {
   color: rgb(46, 46, 46);
   background-color: rgb(236, 253, 240);
}
